<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>England</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
</head>
<body>
    <header>
        <div class="header-left">
            <img src="img/manchester.png" class="manchester" alt="logo of manchester">
        </div>
        <div class="title">
            <h1>My weekend in England
                <img src="img/england.gif" class="england" alt="england flag">
            </h1>
        </div>
        <div class="header-right">
            <img src="img/liverpool.png" class="liverpool" alt="logo of liverpool">
        </div>
    </header>
    <div class="slideshow">
        <div class="slides">
            <div class="numbertext">1 / 3</div>
            <img src="img/game.jpg" class="image" alt="image of a football match">
            <div class="overlay">
                <div class="text">
                    The start of a football match
                </div>
            </div>
        </div>
        <div class="slides">
            <div class="numbertext">2 / 3</div>
            <img src="img/crowd.jpeg" class="image" alt="crowd after exiting stadium">
            <div class="overlay">
                <div class="text">
                    The crowd leaving the stadium
                </div>
            </div>
        </div>
        <div class="slides">
            <div class="numbertext">3 / 3</div>
            <img src="img/stadium.jpg" class="image" alt="the empty stadium">
            <div class="overlay">
                <div class="text">
                    An empty Old Trafford
                </div>
            </div>
        </div>
        <a class="previous" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <div class="dot-row">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <div class="gallery">
        <h1>Gallery</h1>
        <div class="row">
            <div class="column">
                <img src="img/lawnmower.jpeg" onclick="presentSlide(1)" alt="man seeding the football pitch">
                <div class="description">
                    <p>Seeding The Pitch</p>
                </div>
            </div>
            <div class="column">
                <img src="img/football_kits.jpeg" onclick="presentSlide(2)" alt="old football kits">
                <div class="description">
                    <p>Old Football Kits</p>
                </div>
            </div>
            <div class="column">
                <img src="img/dressing_room.jpeg" onclick="presentSlide(3)" alt="a dressing room">
                <div class="description">
                    <p>Dressing Room</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img src="img/house.jpeg" onclick="presentSlide(4)" alt="house in manchester">
                <div class="description">
                    <p>House in Manchester</p>
                </div>
            </div>
            <div class="column">
                <img src="img/merseyside.jpeg" onclick="presentSlide(5)" alt="merseyside in liverpool">
                <div class="description">
                    <p>Merseyside in Liverpool</p>
                </div>
            </div>
            <div class="column">
                <img src="img/skyline.jpeg" onclick="presentSlide(6)" alt="liverpool ONE shopping centre">
                <div class="description">
                    <p>Liverpool ONE Shopping Centre</p>
                </div>
            </div>
        </div>
    </div>
    <h1>Effects</h1>
    <div class="effects">
        <div class="effects-column">
            <div class="effects-column-overlay">
                <img src="img/street.jpeg" class="street" alt="street in liverpool">
                <div class="overlayText">Invert</div>
            </div>
        </div>
        <div class="effects-column">
            <div class="effects-column-overlay">
                <img src="img/cathedral.jpeg" class="cathedral" alt="a massive cathedral">
                <div class="overlayText">Grayscale</div>
            </div>
        </div>
        <div class="effects-column">
            <div class="effects-column-overlay">
                <img src="img/cathedral_inside.jpeg" class="inside" alt="inside the cathedral">
                <div class="overlayText">Blur</div>
            </div>
        </div>
    </div>
    <h1>Videos</h1>
    <div class="videos">
        <div class="background">
            <video id="backgroundVideo" autoplay muted loop>
                <source src="videos/background.mp4" type="video/mp4">
            </video>
        </div>
        <div class="button-background">
            <button id="pause" onclick="pauseVideo()">Pause</button>
            <button id="play" onclick="playVideo()">Play</button>
        </div>
        <div class="video-gallery">
            <video controls poster="img/cavern_club.jpg">
                <source src="videos/cavern.mp4" type="video/mp4">
            </video>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mjmjHAg_15s" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>
    </div>
    <h1>File Upload</h1>
    <div class="upload">
        <div th:if="${message}">
            <h2 th:text="${message}"></h2>
        </div>

        <div>
            <form method="POST" enctype="multipart/form-data" action="/">
                <table>
                    <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
                    <tr><td><input type="submit" value="Upload" /></td></tr>
                </table>
            </form>
        </div>

        <div>
            <ul>
                <li th:each="file : ${files}">
                    <a th:href="${file}" th:text="${file}"></a>
                </li>
            </ul>
        </div>
    </div>
    <footer>
        <p>Copyright © 2020 BBW - Created by Nick Reifler. All rights reserved.</p>
        <div>Made with JS, HTML and CSS</div>
    </footer>
    <script src="js/effects.js"></script>
</body>
</html>